:root {
    --col-dark: #28231F;
    --col-mid: #DCC59C;
    --col-light: #FDECD8;
    --col-highlight: #FFFFFF;
  }

/* mate-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mate';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mate-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mate-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mate-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mate-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mate-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mate-v15-latin-regular.svg#Mate') format('svg'); /* Legacy iOS */
  }

/* volkhov-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/volkhov-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/volkhov-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/volkhov-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/volkhov-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/volkhov-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/volkhov-v17-latin-regular.svg#Volkhov') format('svg'); /* Legacy iOS */
}

/***********************************************************************/

#loading {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 999;
    background-color: var(--col-highlight);
}

.scrolloff {
    overflow: hidden;
}

.pointeroff {
    pointer-events: none;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
}

a {
	color: inherit;
}

.p-big {
    font-size: 1.25rem;
}

body{
    font-family: 'Mate';
    font-style: normal;
    font-weight: 400;

    font-size: 1rem;

    margin: 0em;

    background-color: var(--col-light);
    color: var(--col-dark);
}

main {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 4rem;
}

/* header{} */

.header-image{
    position: relative;
}
.header-image-img{
    width: 100%;
}
.header-title{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;

    background-color: var(--col-light);

    padding: 1rem 2rem;
    padding-right: 4rem;
    padding-bottom: 0rem;

    border-radius: 0 2rem 0 0;
}

.subheader{
    padding: 1rem 2rem;
}

/***********************************************************************/


/* .ui-accordion {} */

.ui-accordion-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background-color: var(--col-light);

    border-color: var(--col-mid);
    border-style: solid;
    border-width: 0.1rem;
    border-left: none;
    border-right: none;
    border-top: none;
}

.icon-toggle-img {
    width: 1.5rem;
    height: 1.5rem;
}

.ui-accordion-header-active{
    background-color: var(--col-mid);
}

/* .ui-accordion-header-collapsed{} */

.icon-toggle{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.ui-accordion-header-collapsed .icon-toggle{
    transform: rotateZ(180deg);
}

.ui-accordion-content{
    padding: 1rem;
    background-color: var(--col-mid);
    /* margin-bottom: 1rem; */
}

/* .ui-accordion-content-active{} */

.item {
    background-color: var(--col-light);
    border-radius: 1rem;
    margin-bottom: 2rem;

    filter: drop-shadow(0rem 1rem 1rem rgba(40,35,31,0.2) );

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.item.is--fav {
    background-color: var(--col-highlight);
    scale: 0.95;
}

.item.is--favlist {
    margin-bottom: 1rem;
}


/* .item-image{} */

.item-image-img{
    max-width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}

.item-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem;

    /* margin-top: 1rem; */
}

.fav-icon{
    margin-left: 1rem;
    height: 2rem;
}
.fav-icon-on {
    display: none;
}

.title{
    margin-bottom: 0.5rem;
}
.ingr{
    margin-bottom: 0.5rem;
    padding: 0rem 1rem;
}

.item-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;}

/* .item-icons{} */

.item-ingr-icon{
    height: 2rem;
    margin-left: 0.5rem;
}

/* .cost{} */

.cost::before{
    content: '€ ';
}


button{
    background-color: transparent;
    border: none;
}

nav{
    height: 4rem;

    position: fixed;
    z-index: 2;
    top: auto;
    left: 0.5rem;
    bottom: 1rem;
    right: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--col-highlight);

    border-radius: 1rem;
    
    filter: drop-shadow(0rem 0rem 1rem rgba(40,35,31,0.2) );
}

.nav-inner{
    width: 100%;

    max-width: 540px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-button{
    position: relative;
}

.nav-button.is--active::after{
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.25rem;

    background-color: #28231F;
    border-radius: 1rem;
}

.nav-icon{
    height: 2rem;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.nav-icon.is--active{
    transform: scale(1.5);
}
.nav-icon.navprofile.is--active{
    transform: scale(1.25);
}

.navfav-on {
    display: none;
}

/* nav.is--fav{
    background-color: white;
} */

#infosection{
    /* margin-top: 3rem; */
    padding: 2rem;
}


/***********************************************************************/

.overlay-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    border-color: var(--col-dark);
    border-style: solid;
    border-width: 0.1rem;
    border-left: none;
    border-right: none;
    border-top: none;
}
.overlay-back {
    margin-right: 1rem;
}
.overlay-back-icon {
    width: 2rem;
    margin-top: 0.25rem;
}

.overlay{
    display: none;
    position: fixed;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;

    overflow-y: auto;

    padding: 2rem;
    padding-bottom: 5em;

    background-color: var(--col-mid)

}

.overlay-inner{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

/* .fav-container{} */

.fav-dummie {
    width: 100%;
    height: 8rem;

    border-radius: 1rem;

    border-color: var(--col-dark);
    border-style: dashed;
    border-width: 0.1rem;

    margin-bottom: 1rem;

}

.fav-dummie.small {
    height: 4rem;
}
.fav-dummie.smaller {
    height: 2rem;
}

.fav-title{
    margin-bottom: 1rem;
}

.fav-subheader{
    margin-bottom: 2rem;
}

#no-fav-text{
    font-size: 1rem;
}

.clear-favs-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 1rem;
    margin-bottom: 2rem;
}

#clear-favs{
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: underline;
}

/***********************************************************************/


.ui-dialog {
    background-color: var(--col-light);
    z-index: 2;

    position: absolute;

    padding: 1rem 2rem;
    max-width: 540px;

    box-sizing: border-box;

    border-radius: 1rem;
}

.ui-dialog-titlebar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 600;

    padding-bottom: 1rem;

    border-color: var(--col-mid);
    border-style: solid;
    border-width: 0.1rem;
    border-left: none;
    border-right: none;
    border-top: none;
}

/* .ui-dialog-title{} */

.ui-dialog-titlebar-close{
    font-size: 1.5rem;
    font-weight: 600;
}
.ui-dialog-content{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ui-widget-overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(40,35,31,0.7)
}

.dialog-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dialog-item-icon{
    width: 2rem;
    margin-right: 1rem;
}


/***********************************************************************/

.contact-box{
    background-color: var(--col-highlight);
    padding: 1rem 2rem;

    border-radius: 1rem;

    margin-bottom: 1rem;
}
.contact-box-head{
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* margin-bottom: 1rem; */
    border-color: var(--col-mid);
    border-style: solid;
    border-width: 0.1rem;
    border-left: none;
    border-right: none;
    border-top: none;
}
.contact-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 0.5rem;
    /* margin-bottom: 1rem; */
    padding-bottom: 0.5rem;

    border-color: var(--col-mid);
    border-style: solid;
    border-width: 0.1rem;
    border-left: none;
    border-right: none;
    border-top: none;

    text-decoration: none;
}

.contact-item:last-child{
    border: none;
}

.contact-icon{
    height: 1.5rem;
    margin-right: 1rem;
}